In [1]:
[10,20,30,40]

[10, 20, 30, 40]

In [3]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

In [4]:
['spam', 2.0, 5,[10,20]]  #A list within another list is nested.

['spam', 2.0, 5, [10, 20]]

In [5]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [6]:
numbers = [17.123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17.123] []

In [7]:
print(cheeses[0])

Cheddar

In [12]:
#Lists are MUTABLE: because you can change the order of items in a list or reassign an item in a list
numbers = [17,123,44,66,77]
numbers[1] =5
print(numbers)

[17, 5, 44, 66, 77]

In [13]:
print(numbers[-2])  # iF AN INDEX HAS A NEGATIVE VALUE, IT COUNTS BACKWORD FROM THE END OF THE LIST

66

In [14]:
for num in numbers:
    print(num)

17
5
44
66
77

In [15]:
cheeses = ['Cheddar', 'Edam', 'Gouda']

In [18]:
'Edam' in cheeses

True

In [19]:
'Brie' in cheeses

False

In [21]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [27]:
numbers = [1,2,3,4]
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    print(numbers[i])

2
4
6
8

In [28]:
l =['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
print(len(l))

4

In [2]:
#List Operations
a = [1,2,3]
b = [4,5,6]
c= a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [3]:
[0]*4

[0, 0, 0, 0]

In [4]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
#List Slices
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] # you want to include t[1], you dont want to include t[3]

['b', 'c']

In [6]:
t[:4]  # you wanat to include everything from the beginning, you dont want to include  t[4] and after

['a', 'b', 'c', 'd']

In [7]:
t[3:]  # you want to include t[3] and above and you dont want to include empty(include everything)

['d', 'e', 'f']

In [16]:
#If you omit the first index, the slice starts at the beginning. If you omit the second,
#the slice goes to the end. So if you omit both, the slice is a copy of the whole list.
t[:]

['a', 'x', 'y', 'f']

In [17]:
t = ['a', 'b', 'c', 'd', 'e', 'f']

In [18]:
t[1:3] = ['x', 'y']

In [19]:
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

In [20]:
#Extend
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [23]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
print(t)

['a', 'b', 'c', 'd', 'e']

In [24]:
#Deleting elements
t = ['a', 'b', 'c']
x = t.pop(1)  #pop modifies the elements that was removed
print(t)

['a', 'c']

In [25]:
print(x)

b

In [26]:
#If you donâ€™t need the removed value, you can use the del operator:
t = ['a', 'b', 'c']
del t[1]
print(t)

['a', 'c']

In [29]:
#To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]  #As usual, the slice selects all the elements up to, but not including, the second index.
print(t)

['a', 'f']

In [30]:
nums = [3,41,12,9,74,15]
print(len(nums))

6

In [31]:
print(max(nums))

74

In [32]:
print(min(nums))

3

In [33]:
print(sum(nums))

154

In [34]:
print(sum(nums)/len(nums))

25.666666666666668

In [36]:
#program to compute an average without a list:
total =0
count =0
while(True):
    inp = input('Enter a number:')
    if inp == 'done':break
    value = float(inp)
    total = total + value
    count = count +1
    
average = total / count
print('Average:', average)

Enter a number:4
Enter a number:5.6
Enter a number:2
Enter a number:6
Enter a number:done
Average: 4.4

In [38]:
#use built-in functions to compute the sum
numlist = list()
while(True):
    inp = input('Enter a number')
    if inp == 'done':
        break
    value = float(inp)
    numlist.append(value)
    
average = sum(numlist) /len(numlist)
print('Average:', average)

Enter a number2
Enter a number4
Enter a number6
Enter a number8
Enter a numberdone
Average: 5.0

In [39]:
#A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as string. 
#To convert from a string to a list of characters, you can use list:

s = 'spam'
t = list(s)
print(t)

['s', 'p', 'a', 'm']

In [40]:
#Break string into words
s = 'pining for the fjords'
t= s.split()
print(t)

['pining', 'for', 'the', 'fjords']

In [42]:
print(t[2])

the

In [43]:
#SPLIT using DELIMITER

s= 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

['spam', 'spam', 'spam']

In [48]:
s = "A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as string. To convert from a string to a list of characters, you can use list:"
delimiter = ' '
s.split(delimiter)

['A',
 'string',
 'is',
 'a',
 'sequence',
 'of',
 'characters',
 'and',
 'a',
 'list',
 'is',
 'a',
 'sequence',
 'of',
 'values,',
 'but',
 'a',
 'list',
 'of',
 'characters',
 'is',
 'not',
 'the',
 'same',
 'as',
 'string.',
 'To',
 'convert',
 'from',
 'a',
 'string',
 'to',
 'a',
 'list',
 'of',
 'characters,',
 'you',
 'can',
 'use',
 'list:']

In [51]:
#Join is  the inverse of string
delimiter1 = ''
delimiter1.join(s)

'A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as string. To convert from a string to a list of characters, you can use list:'

In [62]:
fhand = open('mbox-short.txt')
for line in fhand:
    line = line.rstrip()  # removes default whitespace characters from the END
    if not line.startswith('From '): continue
    words = line.split()
    print(words[1]+ '\t' + words[2])

stephen.marquard@uct.ac.za	Sat
louis@media.berkeley.edu	Fri
zqian@umich.edu	Fri
rjlowe@iupui.edu	Fri
zqian@umich.edu	Fri
rjlowe@iupui.edu	Fri
cwen@iupui.edu	Fri
cwen@iupui.edu	Fri
gsilver@umich.edu	Fri
gsilver@umich.edu	Fri
zqian@umich.edu	Fri
gsilver@umich.edu	Fri
wagnermr@iupui.edu	Fri
zqian@umich.edu	Fri
antranig@caret.cam.ac.uk	Fri
gopal.ramasammycook@gmail.com	Fri
david.horwitz@uct.ac.za	Fri
david.horwitz@uct.ac.za	Fri
david.horwitz@uct.ac.za	Fri
david.horwitz@uct.ac.za	Fri
stephen.marquard@uct.ac.za	Fri
louis@media.berkeley.edu	Thu
louis@media.berkeley.edu	Thu
ray@media.berkeley.edu	Thu
cwen@iupui.edu	Thu
cwen@iupui.edu	Thu
cwen@iupui.edu	Thu

In [64]:
line = " dsdf dsfdfd dsfdfd dsfdfd dsfds        fdsfdsf       "
print(line)
print(line.rstrip())  # removes default whitespace characters from the END

 dsdf dsfdfd dsfdfd dsfdfd dsfds        fdsfdsf
 dsdf dsfdfd dsfdfd dsfdfd dsfds        fdsfdsf

In [65]:
a ='banana'
b = 'banana'
a is b   # if the answer is True, Python only created one string object, and both a nd b refer to it

True

In [66]:
# But when you craete two lists, you get two objects
a = [1,2,3]
b = [1,2,3]
a is b

False

In [67]:
#ALIASING: An object with more than one referance has more than one name, so we say that the object is aliased
a= [1,2,3]
b = a
b is a

True

In [68]:
b[0] = 17
print(a)

[17, 2, 3]

In [69]:
print (b)

[17, 2, 3]

In [70]:
a is b

True

In [71]:
#List arguments: When you pass a list to a function, the function gets a referance to the list.
#If the function modifies a list parameter, the caller sees the change
def delete_head(t):
    del t[0]

In [72]:
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

['b', 'c']

In [73]:
#append method modifies a list, but the + operator creates a new list:
t1= [1,2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [74]:
print(t2)

None

In [75]:
t3 = t1 + [3]

In [76]:
print(t3)

[1, 2, 3, 3]

In [77]:
t2 is t3

False

In [80]:
def tail(t):
    return t[1:]

In [81]:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)

['b', 'c']

In [91]:
#Exercises
'''Write a program to open the file romeo.txt and read it line by line. For each line,
split the line into a list of words using the split function.
For each word, check to see if the word is already in a list. If the word is not in
the list, add it to the list.
When the program completes, sort and print the resulting words in alphabetical
order.'''

unizque_word_list = list()
fhand = open('romeo.txt')
for line in fhand:
    line.rstrip()
    print(line)
    words = line.split()
    print(words)
    for word in words:
        if not word in unizque_word_list:
            unizque_word_list.append(word)
unizque_word_list.sort()
print(unizque_word_list)

But soft what light through yonder window breaks

['But', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks']
It is the east and Juliet is the sun

['It', 'is', 'the', 'east', 'and', 'Juliet', 'is', 'the', 'sun']
Arise fair sun and kill the envious moon

['Arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon']
Who is already sick and pale with grief
['Who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief']
['Arise', 'But', 'It', 'Juliet', 'Who', 'already', 'and', 'breaks', 'east', 'envious', 'fair', 'grief', 'is', 'kill', 'light', 'moon', 'pale', 'sick', 'soft', 'sun', 'the', 'through', 'what', 'window', 'with', 'yonder']